/* -------------------------------------------------------------------------- */
/*                                 Text Colors                                */
/* -------------------------------------------------------------------------- */
$text-color-highlight: #01a3c1;
$text-color-light: #ffffff;
$text-color-dark: #5b5b5b;

/* -------------------------------------------------------------------------- */
/*                              Background Colors                             */
/* -------------------------------------------------------------------------- */
$pmp-dark: #121212;
// $background-color-lightdark: #181818;
$pmp-lightdark: #323232;

/* -------------------------------------------------------------------------- */
/*                                Color Schemes                               */
/* -------------------------------------------------------------------------- */
$pmp-red: #f44443;
$pmp-yellow: #efcc3e;
$landrover-green: #42a871;