/* -------------------------------------------------------------------------- */
/*                                 Text Colors                                */
/* -------------------------------------------------------------------------- */
$text-color-highlight: #01a3c1;
$text-color-light: #ffffff;
$text-color-dark: #5b5b5b;

/* -------------------------------------------------------------------------- */
/*                              Background Colors                             */
/* -------------------------------------------------------------------------- */
$background-color-dark: #121212;
$background-color-lightdark: #181818;