/* -------------------------------------------------------------------------- */
/*                                  Partials                                  */
/* -------------------------------------------------------------------------- */
@use './fonts' as *;
@use './color' as *;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Titillium";
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}

.logo {
    font-size: 2rem;
    font-weight: 600;
    color: $text-color-highlight;
    line-height: 2rem;
}