@use '../../styles/partials/color' as *;
@use '../../styles/partials/responsive' as *;

.footer{
    background-color: $pmp-mediumdark;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-one{
        display: flex;
        flex-direction: column;
        width: 100%;
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            max-width: 800px;
            $top-bot-padding: 3rem;
            $t-padding: 2.25rem;
            // padding-left: $t-padding;
            // padding-right: $t-padding;
            padding: $top-bot-padding $t-padding;
        }
        &__block{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem 0;
            @include tablet {
                padding: 0;
                width: 10rem;
            }
            &--one{
                @include tablet {
                    align-items: start;
                }
            }
            &--two{
                @include tablet {
                    align-items: end;
                }
            }
        }
        &__title{
            color: $text-color-highlight;
            margin-bottom: 0.25rem;
        }
        &__link-container{
            display: inline-flex;
            flex-direction: column;
        }
        &__link-wrapper{
            display: flex;
            justify-content: center;
            // center depending on client preference
            // align-items: flex-start;
            align-items: center;
            &--block-one{
                @include tablet {
                    justify-content: flex-start;
                }
            }
            &--block-two{
                @include tablet {
                    justify-content: flex-end;
                }
            }
        }
        &__navlink{
            line-height: 1.25rem;
            color: $text-color-dark;
            &:hover{
                color: $text-color-highlight;
            }
        }
    }
    &-two{
        background-color: $pmp-dark;
        color: $text-color-dark;
        width: 100%;
        &__block{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__socials-container{
            margin: 2rem 0;
            display: flex;
            gap: 1.5rem;
        }
        &__copyright-container{
            margin-bottom: 2rem;
            @include tablet {
                margin-bottom: 3rem;
            }
        }
    }
}

.active {
    color: $text-color-highlight;
}